---
apiVersion: v1
kind: Namespace
metadata:
  name: flux-system
  labels:
    app.kubernetes.io/part-of: flux
---
apiVersion: fluxcd.controlplane.io/v1
kind: FluxInstance
metadata:
  name: flux
  namespace: flux-system
spec:
  distribution:
    version: "2.8.x"
    registry: ghcr.io/fluxcd
  components:
  - source-controller
  - kustomize-controller
  - helm-controller
  - notification-controller
  cluster:
    type: kubernetes
    networkPolicy: true
