* {
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
}

.bar {
  background-color: #2b213a;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

.left,
.center,
.right {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.text {
  color: #ffffff;
  margin: 0 5px;
}

.text:first-child {
  color: #FF7DDA;
  /* pink-color */
}

.text:last-child {
  color: #3FC4DE;
  /* cyan-color */
}

.box.left .text {
  background-color: #755390;
  /* overlay-color */
  padding: 5px;
  border-radius: 5px;
}

.box.center .text {
  background-color: #29d398;
  /* green-color */
  padding: 5px;
  border-radius: 5px;
}

.box.right .text {
  background-color: #ff5370;
  /* red-color */
  padding: 5px;
  border-radius: 5px;
}