---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: apps
  namespace: flux-system
spec:
  interval: 10m
  sourceRef:
    kind: GitRepository
    name: nixos
  path: ./hosts/midnight-runner/kubernetes/apps/prod
  prune: true
  wait: true
  dependsOn:
    - name: infra
