---
apiVersion: fluxcd.controlplane.io/v1
kind: FluxInstance
metadata:
  name: flux
  namespace: flux-system
spec:
  distribution:
    version: "2.8.x"
    registry: ghcr.io/fluxcd
  components:
  - source-controller
  - kustomize-controller
  - helm-controller
  - notification-controller
  cluster:
    type: kubernetes
    networkPolicy: true
  sync:
    kind: GitRepository
    url: "https://github.com/JenSeReal/NixOS.git"
    ref: "refs/heads/main"
    path: "hosts/midnight-runner/kubernetes/clusters/prod"
    pullSecret: "flux-git-auth"
